body {
    font-family: 'Montserrat', sans-serif; 
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    letter-spacing: 0.5px; 
}

header {
    background-color: #31572C; 
    padding: 20px;
    text-align: center;
    width: 100%;
}

#logo {
    position: absolute;
    top: 5px;
    left: 20px;
    width: 70px; 
    height: auto; 
}

h1{
    color: #ECF39E;
    margin: 0px
}

h2 {
    color: #31572C;
    margin-top: 50px
}

h3 {
    color: #ECF39E; 
}

#etapas-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.etapa-card {
    position: relative;
    background-color: #31572C;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s, box-shadow 0.3s; 
    width: 200px;
    margin-inline: 2px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.etapa-card:hover {
    background-color: #132A13;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

.etapa-content {
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.etapa-card.seleccionada {
    background-color: #4F772D;
    color: #fff;
}

.card-verificacion {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-verificacion p{
    color: #31572C
}

.button {
    background-color: #4F772D;
    color: white;
    padding: 12px 24px; 
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
    transition: background-color 0.3s, box-shadow 0.3s; 
}

.button:hover {
    background-color: #132A13;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: left;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card input {
    display: block;
    width: calc(100% - 16px);
    box-sizing: border-box;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    padding: 10px; 
    margin: 8px 0;
    min-height: 40px; 
    font-size: 14px;
}

.card label {
    display: block;
    margin-bottom: 8px;
    color: #31572C;
    font-weight: bold;
}

.clima-container {
    color: white;
    background-color: #31572C;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 200px;
    height: 50px;
    position: fixed;
    top: 100px;
    left: 20px;
    z-index: 999; 
}

.card-desviaciones {
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
}