body {
    font-family: 'Arial', sans-serif;
    background-color: #e6ffe6; 
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3 {
    color: #1e501f; 
}

#etapas-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.etapa-card {
    position: relative;
    background-color: #4CAF50;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    width: 200px;
    margin-inline: 2px;
    margin-bottom: 20px;
    overflow: hidden;
}

.etapa-content {
    padding: 18px;
}

.etapa-card:hover {
    background-color: #45a049;
}


.card-verificacion {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #45a049;
}

.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
    margin: 10px;
    width: 300px;
    text-align: left;
}

.card input {
    display: block;
    width: calc(100% - 16px);
    box-sizing: border-box;
    border: 1px solid #4CAF50;
    border-radius: 5px;
    padding: 8px;
    margin: 8px 0;
    min-height: 30px;
}

.card label {
    display: block;
    margin-bottom: 8px;
    color: #4CAF50;
    font-weight: bold;
}

.clima-container {
    color: white;
    background-color: #409142;
    padding: 20px;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0 0, 0.1);
    width: 200px; 
    height: 50px;
    position: fixed;
    top: 100px;
    left: 20px;
}